<div class="container">
  <h2 id="kikirimenu">Gorditas Chiwas</h2>
  <p id="kikirinote"><strong>Nota:</strong> Click en la categoría para desplegar el menú.</p>
  <div id="accordion">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link" data-toggle="collapse" href="#collapseOne">
              Desayunos
            </a>
            </div>
            <div id="collapseOne" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>Huevos al gusto (Mexicana, Jamon, Chorizo)... <strong>$45</strong></p>
                <p>Chilaquiles... <strong>$25</strong></p>
                <p>Molletes (2 piezas)... <strong>$28</strong></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
              Platillos
            </a>
            </div>
            <div id="collapseTwo" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p><strong>Asado, carnitas en salsa verde, picadillo, mole o pollo en chipotle.</strong></p>
                <p>Incluyen guisado, frijoles y arroz</p>
                <p><strong>$50</strong></p>
                <p>Guisado extra $10</p>
                <p>* No incluye bebida</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
              Economicas
            </a>
            </div>
            <div id="collapseThree" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>Gorditas <strong> $15</strong>, Burritos <strong>$22</strong>, Montado <strong> $42</strong></p>
                <p>Nopales...</p>
                <p>Frijoles con Queso... </p>
                <p>Papas con chorizo... </p>
                <p>Picadillo...</p>
                <p>Quesadilla...</p>
                <p>Chilly Beans... </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="padding2">
        <div class="col-lg-4">
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
              Tradicionales
            </a>
            </div>
            <div id="collapseFour" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>Gorditas <strong> $16</strong>, Burritos <strong>$25</strong>, Montado <strong> $45</strong></p>
                <p>Asado...</p>
                <p>Deshebrada en Verde...</p>
                <p>Deshebrada en Rojo...</p>
                <p>Rajas...</p>
                <p>Carnitas en Salsa Verde...</p>
                <p>Chile Pasado...</p>
                <p>Mole...</p>
                <p>Pollo Chipotle...</p>
                <p>Cueritos en Verde...</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link" data-toggle="collapse" href="#collapseFive">
              Especiales
            </a>
            </div>
            <div id="collapseFive" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>Gorditas <strong> $17</strong>, Burritos <strong>$30</strong>, Montado <strong> $48</strong></p>
                <p>Barbacoa...</p>
                <p>Chicharrón Prensado...</p>
                <p>Huevo con Chicharron...</P>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link centrado" data-toggle="collapse" href="#collapseSix">
              Combos
            </a>
            </div>
            <div id="collapseSix" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p class="centrado"><strong>$60</strong></p>
                <p>3 Gorditas ó</p>
                <p>2 Burritos ó <span class="invisible">Juan Carlos</span>+</p>
                <p>1 Montado</p>
                <p>Agua de sabor</p>
                <p>*Excepto Chicharrón y Barbacoa</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="padding2">
        <div class="col-lg-4">
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link centrado" data-toggle="collapse" href="#collapseSeven">
              Nómina
            </a>
            </div>
            <div id="collapseSeven" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>Incluye cualquier combo + Agua de Fuente... <strong>$58</strong></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link centrado" data-toggle="collapse" href="#collapseEight">
              Extra
            </a>
            </div>
            <div id="collapseEight" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>Torta de Barbacoa... <strong>$45</strong></p>
                <p>Tacos de Barbacoa... <strong>$45</strong></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link centrado" data-toggle="collapse" href="#collapseTen">
              Bebidas
            </a>
            </div>
            <div id="collapseTen" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>Botella (500ml)... <strong>$15</strong></p>
                <p>Vaso Te (235ml)... <strong>$10</strong></p>
                <p>Fuzz Tea (250 ml)... <strong>$16</strong></p>
                <p>Agua natural (600ml)... <strong>$10</strong></p>
                <p>Jugo (250 ml)... <strong>$15</strong></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="padding2">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link centrado" data-toggle="collapse" href="#collapseEleven">
              Postres
            </a>
            </div>
            <div id="collapseEleven" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>Pay Limon... <strong>$25</strong></p>
                <p>ChocoFlan... <strong>$25</strong></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>
  </div>
</div>
