<!-- Main -->
<div class="container">
  <h1 class="display-3 text-center" id="homemenu">MENÚS TEC</h1>
</div>
<h2 id="holingo">Menú del día</h2>
<div class="container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div class="container">
          <div class="container">
            <div class="jumbotron">
              <h3 class="font-weight-bold"> CAFETERÍA CENTRAL </h3>
              <p class="font-weight-bold"> VAFI SERVICIOS </p>
              <p>* ASADO DE PUERCO (420 KCAL)</p>
              <p>* FLAUTAS DE POLLO Y QUESO (380 KCAL)</p>
              <p>* ARROZ CASERO (200 KCAL)</p>
              <p>* FRIJOLES (200 KCAL)</p>
              <p>* CALDO TLALPEÑO (130 KCAL)</p>
              <p>* JAMONCILLO (180 KCAL)</p>
              <p><br>Opción de cambiar todo el platillo de comida corrida por una hamburguesa con queso y papas a la francesa.</p>
              <p>Opción de cambiar todo el platillo de comida corrida por 500grs. de ensalada.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="container">
          <div class="container">
            <div class="jumbotron">
              <h3 class="font-weight-bold"> CAFETERÍA PIT 2 </h3>
              <p class="font-weight-bold"> VAFI SERVICIOS </p>
              <p>* 2 HOT DOGS (460 KCAL)</p>
              <p>* LASAGNA (420 KCAL)</p>
              <p>* PAPAS A LA CARBONERA (220 KCAL)</p>
              <p>* CREMA DE BRÓCOLI 8oz (200 KCAL)</p>
              <p>* ENSALADA CÉSAR</p>
              <p>* GELATINA MOZAICO</p>
              <p class="invisible"><br>Opción de cambiar todo el platillo de comida corrida por una hamburguesa con queso y papas a la francesa.</p>
              <p class="invisible">Opción de cambiar todo el platillo de comida corrida por 500grs. de ensalada.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a href="natural.html"><img src="\img\NaturalVida.jpg" class="img-thumbnail" alt="Natural Y Vida" width="200" height="200"></a>
      </div>
      <div class="col">
        <a href="mexjap.html"><img src="\img\MexJap.jpg" class="img-thumbnail" alt="Mex-Jap" width="300" height="400"></a>
      </div>
      <div class="col">
        <a href="chiwas.html"><img src="\img\Chiwas.jpg" class="img-thumbnail" alt="Gorditas Chiwas" width="200" height="200"></a>
      </div>
      <div class="col">
        <a href="kikiri.html"><img src="\img\Kikiri.jpg" class="img-thumbnail" alt="Kikiri Cocina" width="200" height="200"></a>
      </div>
    </div>
  </div>
</div>
<!-- Main -->
