<div class="container">
  <h2 id="kikirimenu">Kikiri Kitchen Menú</h2>
  <p id="kikirinote"><strong>Nota:</strong> Click en la categoría para desplegar el menú.</p>
  <div id="accordion">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link" data-toggle="collapse" href="#collapseOne">
              Boneless
            </a>
            </div>
            <div id="collapseOne" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>Boneless buffalo... <strong>$65</strong></p>
                <p>Boneless BBQ... <strong>$65</strong></p>
                <p>Boneless Combinado... <strong>$65</strong></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
              Wraps
            </a>
            </div>
            <div id="collapseTwo" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>WRAP DE POLLO A LA PLANCHA (Tortilla de harina y lechuga)... <strong>$37</strong></p>
                <p>WRPA DE BISTEC (Tortilla de harina, lechuga, arrachera y cebolla)... <strong>$40</strong></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
              Snacks
            </a>
            </div>
            <div id="collapseThree" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>Salchipapas... <strong>$35</strong></p>
                <p>Papas francesas sencillas... <strong>$25</strong></p>
                <p>Papas francesas c/queso... <strong>$30</strong></p>
                <p>Nachos kikiri (Carne molida, crema y tomate)... <strong>$40</strong></p>
                <p>Dorinachos sencillos... <strong>$25</strong></p>
                <p>Ruffles con queso... <strong>$25</strong></p>
                <p>Tostitos con queso... <strong>$25</strong></p>
                <p>Dorinachos, ruffles y tostitos especiales (Queso y elote)... <strong>$35</strong></p>
                <p>Papas caseras (Salsa y cacahuates)... <strong>$35</strong></p>
                <p>Club sandwich c/papas... <strong>$45</strong></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="padding2">
        <div class="col-lg-4">
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
              Burritos
            </a>
            </div>
            <div id="collapseFour" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>Dos burritos sencillos... <strong>$35</strong></p>
                <p>Montado (Guisado, queso y frijoles)... <strong>$38</strong></p>
                <p>Burrito de pastor (Pastor, queso y verdura)... <strong>$25</strong></p>
                <p>Lomo (Aguacate y verdura)... <strong>$25</strong></p>
                <p>Lomo especial (Jamón, queso, aguacate y verdura)... <strong>$35</strong></p>
                <p>Asado y frijoles... <strong>$20</strong></p>
                <p>Picadillo y frijoles... <strong>$20</strong></p>
                <p>Bistec... <strong>$30</strong></p>
                <p>Frijoles c/queso... <strong>$20</strong></p>
                <p>Papas c/chorizo y frijoles... <strong>$20</strong></p>
                <p>Burrito Kikiri (Bistec, queso, tomate y lechuga)... <strong>$35</strong></p>
                <p>Sincronizada... <strong>$25</strong></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link" data-toggle="collapse" href="#collapseFive">
              Molletes
            </a>
            </div>
            <div id="collapseFive" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>Mollete sencillo (Frijoles y queso)... <strong>$25</strong></p>
                <p>Mollete guisado (Frijoles, queso y guisado)... <strong>$35</strong></p>
                <p>Mollete especial (Frijoles, queso y pastor/bistec)... <strong>$40</strong></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link centrado" data-toggle="collapse" href="#collapseSix">
              Hot Dog
            </a>
            </div>
            <div id="collapseSix" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>Hot Dog tracidional c/papas... <strong>$45</strong></p>
                <p>Hot Dog tracidional... <strong>$30</strong></p>
                <p>Hot Dog con carne... <strong>$45</strong></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="padding2">
        <div class="col-lg-4">
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link centrado" data-toggle="collapse" href="#collapseSeven">
              Hamburguesas
            </a>
            </div>
            <div id="collapseSeven" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>Hamburguesa Kikiri c/papas... <strong>$57</strong></p>
                <p>Hamburguesa sencilla c/papas... <strong>$50</strong></p>
                <p>Hamburguesa sencilla... <strong>$37</strong></p>
                <p>Hamburguesa pollo... <strong>$48</strong></p>
                <p>Hamburguesa Kikiri... <strong>$48</strong></p>
                <p>Hamburguesa Kikiri BBQ... <strong>$48</strong></p>
                <p>Hamburguesa Kikiri buffalo... <strong>$48</strong></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link centrado" data-toggle="collapse" href="#collapseEight">
              Tortas
            </a>
            </div>
            <div id="collapseEight" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>Torta Kikiri c/papas... <strong>$50</strong></p>
                <p>Torta Kikiri... <strong>$40</strong></p>
                <p>Torta pastor... <strong>$45</strong></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link centrado" data-toggle="collapse" href="#collapseNine">
              Combos
            </a>
            </div>
            <div id="collapseNine" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>2 burritos + papas + bebida... <strong>$60</strong></p>
                <p>Platillo comida + bebida... <strong>$60</strong></p>
                <p>Hamburguesa sencilla + papas + bebida... <strong>$60</strong></p>
                <p>Hot Dog tradicional + papas + bebida... <strong>$60</strong></p>
                <p>Montado + papas + bebida... <strong>$60</strong></p>
                <p>Torta Kikiri + papas + bebida... <strong>$60</strong></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="padding2">
        <div class="col-lg-2"></div>
        <div class="col-lg-4">
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link centrado" data-toggle="collapse" href="#collapseTen">
              Bebidas
            </a>
            </div>
            <div id="collapseTen" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>Refresco de lata (355ml)... <strong>$15</strong></p>
                <p>Refresco chico (235ml)... <strong>$10</strong></p>
                <p>Agua natural (1lt)... <strong>$15</strong></p>
                <p>Agua natural (600ml)... <strong>$10</strong></p>
                <p>Café americano chico... <strong>$15</strong></p>
                <p>Jugo del valle... <strong>$15</strong></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link centrado" data-toggle="collapse" href="#collapseEleven">
              Postres
            </a>
            </div>
            <div id="collapseEleven" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>Gelatina... <strong>$15</strong></p>
                <p>Yogurth natural con granola... <strong>$35</strong></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>
  </div>
</div>
