<div class="container-fluid">
	  <div class="row"><h3 id="CafeCentralMenu">Mex & Jap</h3></div>
	<ul class="nav nav-tabs nav-justified">
		<li class="new-item">
      <a href="#menu-jugos" data-toggle="tab" class="nav-link active">Menú</a>
    </li>
	</ul>
</div>
<div class="tab-content" id="cafeteriacentralmenu">
	<div role="tabpanel" class="tab-pane active" id="menu-jugos">
		<div id="accordion">
			<div class="container">
				<div class="row" id="padding2">
					<div class="col-lg-4">
						<div class="card">
							<div class="card-header">
								<a class="collapsed card-link" data-toggle="collapse" href="#collapseOne">
								Entradas
							</a>
							</div>
							<div id="collapseOne" class="collapse" data-parent="#accordion">
								<div class="card-body">
									<p><strong>Alitas crugientes</strong>... <strong>$55</strong></p>
									<p>-Salsa teriyaka-BBQ-Buffalo-Soya Picante-</p>
									<p><strong>Kushiague</strong>(brocheta empanizada)</p>
									<p>Queso Manchego...<Strong>$12</strong></p>
									<p>Cangrejo con queso crema...<Strong>$12</strong></p>
									<p>Camaron con queso manchego...<Strong>$16</strong></p>
									<p>Platano...<strong>$12</strong></p>
									<p>Platano con queso manchego...<strong>$15</strong></p>
									<p><strong>Edamames al vapor</strong>...$40</p>
									<p><strong>Edamames salteados</strong>...$40</p>
									<p><strong>Ika Fry</strong>...$50</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="card">
							<div class="card-header">
								<a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
								Ensaladas
							</a>
							</div>
							<div id="collapseTwo" class="collapse" data-parent="#accordion">
								<div class="card-body">
									<p>Tofu (queso de soya)... <strong>$44</strong></p>
									<p>Salmon Fresco... <strong>$65</strong></p>
									<p>Atún selladocon ajonjolí... <strong>$70</strong></p>
									<p>Pechuga de pollo a la plancha... <strong>$60</strong></p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="card">
							<div class="card-header">
								<a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
								Arroz
							</a>
							</div>
							<div id="collapseThree" class="collapse" data-parent="#accordion">
								<div class="card-body">
									<p><strong>Gohan</strong>... <strong>$27</strong></p>
									<p>(blanco al vapor)</p>
									<p><strong>Bowl especial</strong>... <strong>$44</strong></p>
									<p>(arroz blanco,pasta cangrejo, queso crema, aguacate, crema aguacate, crema de chipotle y salsa anguila)</p>
									<p><strong>Yakimeshi</strong>... <strong>$34</strong></p>>
									<p>(arroz frito con verduras y sazonado)</p>
									<p><strong>Yakimeshi mixto</strong>... <strong>$44</strong></p>
									<p>(verduras, res y pollo)</p>
									<p><strong>Meshi especial</strong>... <strong>$27</strong></p>
									<p>(Yakimeshi verduras, queso crema, aguacate, crema de chipotle y furikake de sálmon)</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row" id="padding2">
					<div class="col-lg-4">
						<div class="card">
							<div class="card-header">
								<a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
								Sopa
							</a>
							</div>
							<div id="collapseFour" class="collapse" data-parent="#accordion">
								<div class="card-body">
									<p><strong>Sopa miso</strong>... <strong>$25</strong></p>
									<p>(con tofu, cebollín y alga)</p>
									<p><strong>Sopa ramen</strong> (fideo oriental sazonado y ligeramente picoso, acompañado de verduras y proteína a escoger ) </p>
									<p><strong>Pollo, pulpo, pescado</strong>...<strong>$55</strong></p>
									<p><strong>Res, Camaron</strong>...<strong>$60</strong></p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="card">
							<div class="card-header">
								<a class="collapsed card-link" data-toggle="collapse" href="#collapseFive">
								Kiuri-Cono
							</a>
							</div>
							<div id="collapseFive" class="collapse" data-parent="#accordion">
								<div class="card-body">
									<p>Cono envuelto en pepino arroz, queso crema, aguacate, atún y salmón fresco, chile toreado y cebollín. Servido con crema chipotle</p>
									<p> <strong>$40</strong></p>
									<p>(El platillo incluye alimentos crudos, se sirve bajo consideracion del comensal y el riesgo que este implica)</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="card">
							<div class="card-header">
								<a class="collapsed card-link centrado" data-toggle="collapse" href="#collapseSix">
								Platillos calientes
							</a>
							</div>
							<div id="collapseSix" class="collapse" data-parent="#accordion">
								<div class="card-body">
									<p><strong>Yokisoba</strong></p>
									<p>Fideos asado con salsa agridulce, acompañada de verduras y proteina a escoger</p>
									<p><strong>Pollo</strong>...<strong>$60</strong></p>
									<p><strong>Camarón</strong>...<strong>$65</strong></p>
									<p><strong>Tori tempura</strong></p>
									<p>Pechuga capeada bañada en salsa de anguila, sobre una cama de arroz blanco al vapor... <strong>$60</strong></p>
									<p><strong>Soba Unagui</strong></p>
									<p> Pasta oriental con verdura salteada en salsa de anguila y sirasha. Picante</p>
									<p><strong>Camarpon</strong>...<strong>$60</strong></p>
									<p><strong>Pollo</strong>...<strong>$55</strong></p>
									<p><strong>Chicken Roll</strong></p>
									<p> Pechuga de pollo en rollo, por dentro verduras y queso manchego. Empanizada y servida con crema chipotle y Kushiague,
										 Base de lechuga y arroz Gohan...<strong>$70</strong></p>
                  <p><strong>Tai Furay</strong></p>
									<p> Filete tilapia relleno de queso Manchego y empanizado servido con arroz Gohan,
										aguacate y pasta cangrejo...<strong>$65</strong></p>
									<p><strong>Bowl Mar y Tierra</strong></p>
									<p> Sirloin de res y camarón a la plancha, salteados con pepino, crema Chipotle
										y cebollin cama de arroz Yakimeshi</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row" id="padding2">
					<div class="col-lg-4">
						<div class="card">
							<div class="card-header">
								<a class="collapsed card-link centrado" data-toggle="collapse" href="#collapseSeven">
								Arma tu combo #1
							</a>
							</div>
							<div id="collapseSeven" class="collapse" data-parent="#accordion">
								<div class="card-body">
									<p><strong>$60</strong></p>
									<p><strong>Paso 1:</strong> Yakimeshi o Gohan</p>
									<p><strong>Paso 2:</strong> Brocheta de queso manchego, brocheta de surimi con
										queso crema o brocheta de platano</p>
									<p><strong>Paso 3:</strong> 1/2 rollo o agranda a sushi completo por <strong>
									$30</strong></p>
									<p><strong>paso 4:</strong> Té verde, Té negro con limón, Agua de sabor
										Naranjada o limonada</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="card">
							<div class="card-header">
								<a class="collapsed card-link centrado" data-toggle="collapse" href="#collapseEight">
								Arma tu combo #2
							</a>
							</div>
							<div id="collapseEight" class="collapse" data-parent="#accordion">
								<div class="card-body">
									<p><strong>$60</strong></p>
									<p><strong>Paso 1:</strong> Yakimeshi de verduras o Gohan con pasta
									de cangrejo</p>
									<p><strong>Paso 2:</strong> A escoger: 1/2 ensalada de salmón, pechuga de pollo o tofu</p>
									<p><strong>Paso 3:</strong> Té verde, Té negro con lión, Agua de sabor, Naranjada o Limonada</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="card">
							<div class="card-header">
								<a class="collapsed card-link centrado" data-toggle="collapse" href="#collapseNine">
								Arma tu combo #3
							</a>
							</div>
							<div id="collapseNine" class="collapse" data-parent="#accordion">
								<div class="card-body">
									<p><strong>$60</strong></p>
									<p><strong>Paso 1:</strong> Yakimeshi o Gohan</p>
									<p><strong>Paso 2:</strong> Brocheta de queso manchego, brocheta de surimi con
										queso crema o brocheta de platano</p>
									<p><strong>Paso 3:</strong> porción de pollo o pescado teppanyaki o teriyaki></p>
									<p><strong>paso 4:</strong> Té verde, Té negro con limón, Agua de sabor
										Naranjada o limonada</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row" id="padding2">
					<div class="col-lg-2"></div>
					<div class="col-lg-4">
						<div class="card">
							<div class="card-header">
								<a class="collapsed card-link centrado" data-toggle="collapse" href="#collapseTen">
								Bebidas
							</a>
							</div>
							<div id="collapseTen" class="collapse" data-parent="#accordion">
								<div class="card-body">
									<p>Té verde japonés... <strong>$15</strong></p>
									<p>Pepino con limón y chia... <strong>$16</strong></p>
									<p>Té negro con limón... <strong>$15</strong></p>
									<p>Limonada o naranjada mineral... <strong>$15</strong></p>
									<p>Refresco lata (325ml)... <strong>$16.50</strong></p>
									<p>Calpis de sabor... <strong>$18</strong></p>
									<p>Agua natural (1 lt)... <strong>$15</strong></p>
									<p>Agua natural (600ml)... <strong>$10</strong></p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="card">
							<div class="card-header">
								<a class="collapsed card-link centrado" data-toggle="collapse" href="#collapseEleven">
								Diseña tu sushi!!
							</a>
							</div>
							<div id="collapseEleven" class="collapse" data-parent="#accordion">
								<div class="card-body">
									<p><strong>$60</strong></p>
									<p><strong>Paso 1:</strong> Escoge 3 verduras</p>
									<p>-Queso créma o manchego</p>
									<p>-Aguacate</p>
									<p>-Pepino</p>
									<p>-Zanahoria</p>
									<p>-Chiles toreados</p>
									<p>-Lechuga italiana</p>
									<p>-Verduras fritas</p>
									<p>-Espárrago</p>
									<p>-Champiñon asada</p>
									<p>-Frutas (mango, piña, kiwi)</p>
									<p><strong>Paso 2:</strong> Escoge 2 proteínas</p>
									<p>-Camarón cocido</p>
									<p>-Camarón empanizado</p>
									<p>-Pescado empanizado</p>
									<p>-Res teppanyaki</p>
									<p>-Pollo teppanyaki</p>
									<p>-Surimi</p>
									<p>-Pulpo cocido</p>
									<p>-ostión ahumado</p>
									<p>-Salmon fresco</p>
									<p>-Tofu</p>
									<p>-Tocino</p>
									<p><strong>Paso 3:</strong> Escoge la cubierta</p>
									<p>-Empanizado</p>
									<p>-Capeado</p>
									<p>-Natural</p>
									<p><strong>paso 4:</strong> Escoge la salsa</p>
									<p>+Pasta de cangrejo</p>
									<p>+Crema de chipotle</p>
									<p>+Salsa mango-habanero</p>
									<p>+Salsa de anguila</p>
									<p>+Salsa chipotle</p>
									<p>+Salsa sirasha</p>
									<p>+Salsa black</p>
									<p>+Salsa teriyaki</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-2"></div>
				</div>
			</div>

		</div>
	</div>
