<div class="container-fluid">
  <div class="row"><h3 id="CafeCentralMenu">Menú Kikiri Kitchen</h3></div>
  <ul class="nav nav-tabs nav-justified">
    <li class="new-item">
      <a href="#menu-boneless" data-toggle="tab" class="nav-link active">Boneless</a>
    </li>
    <li class="new-item">
      <a href="#menu-wraps" data-toggle="tab" class="nav-link">Wraps</a>
    </li>
    <li class="new-item">
      <a href="#menu-snacks" data-toggle="tab" class="nav-link">Snacks</a>
    </li>
    <li class="new-item">
      <a href="#menu-burritos" data-toggle="tab" class="nav-link">Burritos</a>
    </li>
    <li class="new-item">
      <a href="#menu-molletes" data-toggle="tab" class="nav-link">Molletes</a>
    </li>
    <li class="new-item">
      <a href="#menu-hotdog" data-toggle="tab" class="nav-link">Hot Dog</a>
    </li>
    <li class="new-item">
      <a href="#menu-hamburguesas" data-toggle="tab" class="nav-link">Hamburguesas</a>
    </li>
    <li class="new-item">
      <a href="#menu-tortas" data-toggle="tab" class="nav-link">Tortas</a>
    </li>
    <li class="new-item">
      <a href="#menu-combos" data-toggle="tab" class="nav-link">Combos</a>
    </li>
    <li class="new-item">
      <a href="#menu-bebidas" data-toggle="tab" class="nav-link">Bebidas</a>
    </li>
    <li class="new-item">
      <a href="#menu-postres" data-toggle="tab" class="nav-link">Postres</a>
    </li>
  </ul>
  <div class="tab-content" id="contenidocafecentral">
    <div role="tabpanel" class="tab-pane active" id="menu-boneless">

    </div>
  </div>
</div>
